body{
  background-color: lightgray;
}

.custom_wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.custom_container{
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  display: flex;
  background-color:rgb(128, 81, 20);
}

.top_select{
  margin: 10px auto;
  width: 50%;
  text-align: center;
}

.quadrati{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: calc(100% / 8);
  aspect-ratio: 1/1;
  border: 2px solid white;
  cursor: pointer;
}