body{
  background-color: lightgray;
}

.custom_wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.custom_container{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;  
  background-color:rgb(128, 81, 20);
}

.top_select{
  margin: 10px auto;
  width: 50%;
  text-align: center;
}

.quadrati{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
}

.quadrati.clicked{
  background-color: brown;
}

.dimensioniquadrati100{
width: calc(100% / 10);
height: calc(100% / 10);
}

.dimensioniquadrati81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.dimensioniquadrati49{
  width: calc(100% / 7);
height: calc(100% / 7);
}